* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #222;
  font-family: Arial, sans-serif;
}

.page {
  width: 100%;
  padding: 20px 32px 80px;
}


/* 헤더 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 16px;
  border-bottom: 1px solid #cccccc;
}

.logo {
  font-size: 14px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  color: #222;
  text-decoration: none;
  font-size: 11px;
}


/* 메인 */

.hero {
  margin: 0 0 50 0px;
}

.heroTitle {

  margin: 15px 0 15px 0;
  font-size: 60px;
  line-height: 1;
  text-align: center;
}

.heroTitle sup {
  font-size: 20px;
}


/* 사진 */

.heroImageBox {
  position: relative;
}

.heroImage {
  width: 100%;
  aspect-ratio: 16 / 5;
  object-fit: cover; 
  object-position: bottom;
  border-radius: 24px;
}
