
/* 헤더 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #DDDDD8;
}

.logo {
  font-size: 20px;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  color: #222;
  text-decoration: none;
  font-size: 11px;
}


