.footer {
  margin-top: 40px;
  padding: 70px 32px 30px;

  border-top: 1px solid #ddd;
}

.title {
  margin-bottom: 70px;
  color: #2d24ff;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.05;
}

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  padding-bottom: 60px;
}

.label {
  margin-bottom: 12px;

  font-size: 11px;
  color: #777;
}

.contact a {
  color: #111;
  font-size: 14px;
  text-decoration: none;
}

.contact a:hover {
  color: #2d24ff;
}

.bottom {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;

  border-top: 1px solid #ddd;

  font-size: 11px;
}

.bottom a {
  color: #111;
  text-decoration: none;
}


@media (max-width: 768px) {

  .footer {
    padding: 50px 20px 25px;
  }

  .title {
    margin-bottom: 50px;
    font-size: 34px;
    color:#2d24ff
  }

  .contact {
    grid-template-columns: 1fr;
    gap: 30px;
  }

}