
/* 메인 타이틀 */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.page {
  width: 100%;
  padding: 20px 32px 80px;
  
}

.heroTitle {

  margin: 15px 0 15px 0;
  font-size: 60px;
  line-height: 1;
  text-align: center;
}

.heroTitle sup {
  font-size: 15px;

}


/* 사진 */

.hero {
  margin: 0;
  padding: 0 30px 20px 30px;
}



/* 소개 */

.introduce {
  display: flex;
  height: 230px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: #FAFAF7
  
}
.introduce h6 {
  margin: 0 0 7px;
  font-size: 11px;
  color: #171717;
  letter-spacing: 0.5px;
}

.introduce h2 {
  margin: 0 0 20px;
  font-size: 26px;
  color: #2c2825;
}

.introduce p {
  margin: 0;

  font-size: 13px;
  line-height: 1.7;

  color: #776e68;
}
